@using SppApp.Helpers
@model  SppApp.Models.Dionici

<tr class="tableData">
    @using (Html.BeginCollectionItem("DioniciLista"))
    {
        if (Model.Id != 0)
        {
            @Html.HiddenFor(model => model.Id);
            @Html.HiddenFor(model => model.ProjektId);
        }
        <td>
            @Html.LabelFor(model => model.Naziv, "Naziv subjekta")<br />
            @Html.TextAreaFor(model => model.Naziv, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })

        </td>
        <td>
            @Html.LabelFor(model => model.Vrsta)<br />
            @Html.RadioButtonFor(model => model.Vrsta, "Nositelj projekta") Nositelj projekta <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Partner") Partner <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Ciljana skupina") Ciljana skupina <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Korisnik") Korisnik <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Investitor") Investitor <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Sunositelj") Sunositelj <br />
            @Html.RadioButtonFor(model => model.Vrsta, "Koordinator") Koordinator <br />
            @Html.ValidationMessageFor(model => model.Vrsta, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.LabelFor(model => model.Uloga, "Uloga na projektu")<br />
            @Html.TextAreaFor(model => model.Uloga, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(model => model.Uloga, "", new { @class = "text-danger" })
        </td>
        <td>
            <input type="button" value="&#8212;" id="dioniciRedak" onclick="DeleteRow(this);" class="btn btn-primary" style="float:right; background-color: #EF7215 !important; border-color: #EF7215 !important" />
        </td>

    }
</tr>
<tr><td colspan="4"></tr>
