@model IEnumerable<SppApp.Models.Projekti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kontakt.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizacija.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusProjekta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pocetak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaProjekta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProglasenStrateskim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VlasnickaDokumentacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudijaIzvodivosti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvesticijskaStudija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdejnoRjesenje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LokacijskaDozvola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpravnoPodrucje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sektor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rezultati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpciSpecificniCiljevi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IzvorFinanciranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcijenjenaVrijednost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcijenjeniTroskoviPripreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcijenjeniTroskoviProvedbe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Upisano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ispravno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumPredaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kontakt.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizacija.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusProjekta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pocetak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaProjekta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProglasenStrateskim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VlasnickaDokumentacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudijaIzvodivosti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvesticijskaStudija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdejnoRjesenje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LokacijskaDozvola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpravnoPodrucje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sektor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rezultati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpciSpecificniCiljevi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IzvorFinanciranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcijenjenaVrijednost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcijenjeniTroskoviPripreme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcijenjeniTroskoviProvedbe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Upisano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ispravno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumPredaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
