@using SppApp.Helpers
@model  SppApp.Models.Pokazatelji

<tr class="tableData">
    @using (Html.BeginCollectionItem("PokazateljiLista"))
    {
        if (Model.Id != 0)
        {
            @Html.HiddenFor(model => model.Id);
            @Html.HiddenFor(model => model.ProjektId);
        }
        <td>
            @Html.LabelFor(model => model.Naziv, "Pokazatelj")<br />
            @Html.DropDownListFor(model => model.Naziv, new[] { new SelectListItem() { Text = "Prostor za inovacije/istraživanje i razvoj (u kvadratnim metrima)", Value = "Prostor za inovacije/istraživanje i razvoj (u kvadratnim metrima)" }, new SelectListItem() { Text = "Novi/poboljšani objekti javne infrastrukture (u kvadratnim metrima)", Value = "Novi/poboljšani objekti javne infrastrukture (u kvadratnim metrima)" }, new SelectListItem() { Text = "Novi/poboljšani kulturni objekti (u kvadratnim metrima)", Value = "Novi/poboljšani kulturni objekti (u kvadratnim metrima)" }, new SelectListItem() { Text = "Novi/poboljšani zdravstveni/bolnički objekti (u kvadratnim metrima)", Value = "Novi/poboljšani zdravstveni/bolnički objekti (u kvadratnim metrima)" }, new SelectListItem() { Text = "Novi turistički objekti (npr. skijaške žičare, pješačke staze itd.)", Value = "Novi turistički objekti (npr. skijaške žičare, pješačke staze itd.)" }, new SelectListItem() { Text = "Broj novih hotelskih kreveta", Value = "Broj novih hotelskih kreveta" }, new SelectListItem() { Text = "Novi objekt za recikliranje", Value = "Novi objekt za recikliranje" }, new SelectListItem() { Text = "Volumen / površina novih kapaciteta deponija", Value = "Volumen / površina novih kapaciteta deponija" }, new SelectListItem() { Text = "Duljina nove/nadograđene piste zračne luke", Value = "Duljina nove/nadograđene piste zračne luke" }, new SelectListItem() { Text = "%povećanja u kapacitetu prihvata putnika", Value = "%povećanja u kapacitetu prihvata putnika" }, new SelectListItem() { Text = "Novi/nadograđeni putnički terminal", Value = "Novi/nadograđeni putnički terminal" }, new SelectListItem() { Text = "Nova/nadograđena teretna luka", Value = "Nova/nadograđena teretna luka" }, new SelectListItem() { Text = "Izgrađena/sanirana željeznička pruga", Value = "Izgrađena/sanirana željeznička pruga" }, new SelectListItem() { Text = "Nova cesta (u km)", Value = "Nova cesta (u km)" }, new SelectListItem() { Text = "Poboljšana/popravljena/sanirana cesta (u km)", Value = "Poboljšana/popravljena/sanirana cesta (u km)" }, new SelectListItem() { Text = "Kvadratura prostora", Value = "Kvadratura prostora" }, new SelectListItem() { Text = "Razvijeno zemljište (u hektarima)", Value = "Razvijeno zemljište (u hektarima)" }, new SelectListItem() { Text = "Rehabilitirano zemljište (u hektarima)", Value = "Rehabilitirano zemljište (u hektarima)" }, new SelectListItem() { Text = "Broj malih poduzeća koji su primili konzultantsku uslugu", Value = "Broj malih poduzeća koji su primili konzultantsku uslugu" }, new SelectListItem() { Text = "Broj educiranih ljudi", Value = "Broj educiranih ljudi" }, new SelectListItem() { Text = "Otvorena radna mjesta", Value = "Otvorena radna mjesta" }}, "Odaberite...", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })

        </td>        
        <td>
            @Html.LabelFor(model => model.BrojJedinica, "Broj jedinica")<br />
            @Html.EditorFor(model => model.BrojJedinica, new { htmlAttributes = new { @class = "form-control narrow", data_val_number = "Vrijednost može sadržavati samo brojeve i decimalni zarez.", onkeyup = "currencyFormatHR()" } })
            @Html.ValidationMessageFor(model => model.BrojJedinica, "", new { @class = "text-danger" }) <br />

            @Html.LabelFor(model => model.JedinicaMjere)<br />
            @Html.DropDownListFor(model => model.JedinicaMjere, new[] { new SelectListItem() { Text = "kg", Value = "kg" }, new SelectListItem() { Text = "tona", Value = "tona" }, new SelectListItem() { Text = "m", Value = "m" }, new SelectListItem() { Text = "km", Value = "km" }, new SelectListItem() { Text = "m2", Value = "m2" }, new SelectListItem() { Text = "ha", Value = "ha" }, new SelectListItem() { Text = "broj", Value = "broj" }, new SelectListItem() { Text = "komplet", Value = "komplet" }, new SelectListItem() { Text = "sat", Value = "sat" }, new SelectListItem() { Text = "dan", Value = "dan" }, new SelectListItem() { Text = "godišnje", Value = "godišnje" }, new SelectListItem() { Text = "mjesec", Value = "mjesec" } }, "Odaberite...", htmlAttributes: new { @class = "form-control narrow" })
            @Html.ValidationMessageFor(model => model.JedinicaMjere, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.LabelFor(model => model.NacinOstvarenja, "Način ostvarenja")<br />
            @Html.TextAreaFor(model => model.NacinOstvarenja, new { @class = "form-control" })<br />
            @Html.ValidationMessageFor(model => model.NacinOstvarenja, "", new { @class = "text-danger" })
        </td>
        <td>
            <input type="button" value="&#8212;" id="pokazateljiRedak" onclick="DeleteRow(this);" class="btn btn-primary" style="float:right; background-color: #EF7215 !important; border-color: #EF7215 !important" />
        </td>

    }
</tr>
<tr><td colspan="5"></td></tr>

